{% comment %}<!--section:code-->```liquid {% endcomment %}
<!doctype html>
<html lang="{{ site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>
      {%- if title %}{{ title | strip_html | append: ' | ' }}{% endif -%}
      {{- site.title -}}
    </title>
    <meta name="description" content="{{ description | strip_html }}">

    <link rel="icon" href="{{ site.favicon | default: '/favicon.ico' }}">
    {%- for href in site.styles %}
      <link rel="stylesheet" href="{{ href | relative_url }}">
    {%- endfor %}
    {%- for src in site.scripts %}
      <script src="{{ src }}" defer></script>
    {%- endfor %}

    {{ content_for_header }}
  </head>

  <body>
    {{ body }}
  </body>
</html>
{% # prettier-ignore %}
{% comment %}```
<!--section:docs-->

Usage in Liquid layout:

```liquid
{% capture body %}...{% endcapture %}

{% include blades/html.liquid %}
```

Live example: https://github.com/anyblades/buildawesome-starters/blob/main/site-liquid/_includes/default.liquid

{% endcomment %}
